<html>
    <head>
        <title>GST Bill Calculator</title>
        
        <style>
        
        .box {
            width:500px;
            height:320px;
            border:dashed 3px black;
            padding:10px;
            position:fixed;
            top:190px;
            left:500px;
            text-align:center;
            background-color:rgb(27, 240, 116);
            }
        </style>
    </head>
    <body bgcolor="lightyellow">
        <div class="box">
            <h1>Total Bill Amount with GST</h1>
            <h3>Harini Sree N (25015936)</h3>
            <form method="POST">
                {% csrf_token %}
        <div>
            <label>Price (₹)</label>
            <input type="text" name="price" required>
        </div>
        <br>

        <div>
            <label>GST (%)</label>
            <input type="text" name="gst" required>
        </div>
        <br>

        <div>
            <input type="submit" value="Calculate">
        </div>
        <br>

        <div>
            <label>Total Bill (₹)</label>
            <input type="text" value="{{bill}}">
        </div>

            </form>
        </div>

    </body>
</html>